__pycache__/
backend/flights.db
backend/sample_data.csv
frontend/node_modules/
.env
myenv/
image/
*.pyc
*.pyo
*.pyd
*.log
dist/
build/
.vscode/
/.idea/# Python
myenv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Node
frontend/node_modules/
frontend/dist/
npm-debug.log*
package-lock.json

# Editor
.vscode/
.DS_Store

# Database
*.db

# Logs
*.log
.vercel
.env*.local
